
@{
    ViewData["Title"] = "Tour Informations";
}
<h1>User Tour Informations</h1>
<p>Click to the links to navigate to the datapages!</p>

<ul>
    <li>
        <a href="/UserTourInformations/UserInfos"> @ViewData["_LoggedInUNN"]'s Tour Data</a>
    </li>
    <li>
        <a href="/UserTourInformations/OneToursInfo"> One Tour's' Info</a>
    </li>
    <li>
        <a href="/UserTourInformations/FilterByTempRain"> Informations Filtered By Temperature or Rain</a>
    </li>
    <li>
        <a href="/UserTourInformations/AvarageSpeeds"> Avarage Speed in a tour</a>
    </li>
    <li>
        <a href="/UserTourInformations/CaloriesInInterval"> How much calories have you burned?</a>
    </li>
    <li>
        <a href="/UserTourInformations/CircleChart"> How much of us made the tour?</a>
    </li>
</ul>