@model BikeTourPlaner.Models.ModelViews.ApplyTourMV
@{
    ViewData["Title"] = "Apply To Tour";
}

<div class="text-center">
    <div class="form-horizontal">
        <h1 class="display-4">Apply To Tour</h1>
        @using (Html.BeginForm("ApplyTour", "TourManager", FormMethod.Post))
        {
            @if (!String.IsNullOrEmpty(ViewData["_ApplyTourError"]?.ToString()))
            {
                ViewData["_ApplyTourError"].ToString();
            }
            <div class="form-group">
                @Html.LabelFor(model => model.ChoosenTour, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ChoosenTour, Model.Plans,"Choose Tour")
                    @Html.ValidationMessageFor(model => model.ChoosenTour, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Choose" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>

